@media (max-width: 600px) {
    .infobar,  {
        display: none !important;
    }
    .window {
        width: 100% !important;
        height: 85% !important;
    }
}

.window_container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    border-radius: 11px;
    
    color: #eae3d0;
    

    width: 75%;
    height: 75%;
    background-color: #f2f1f0;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titlebar {
    min-height: 2em;

    align-items: center;
    display: flex;

    background: linear-gradient(0deg,rgba(60, 59, 55, 1) 0%, rgba(60, 59, 55, 1) 45%, rgba(71, 70, 66, 1) 57%, rgba(71, 70, 66, 1) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.titlebar .win_title {
    font-size: 12px;
    font-weight: bold;
    background: inherit; 
    border-top-right-radius: inherit;
    border-top-left-radius: 9px; /* this sucks */
    padding-left: 10px;
}

.titlebar .buttons {
    background-color: #3b3a36;
    margin-left: 5px;
    border-radius: 10px;
}

.menubar {
    padding-left: 4px;
    background-color: #3c3b37;
    font-size: 12px;

    word-spacing: 3px;

    box-shadow: inset 0 -1px 0 0 #42413c;
}

.actionbar {
    background: linear-gradient(0deg,rgba(83, 81, 74, 1) 0%, rgba(56, 55, 52, 1) 100%);
    height: 2em;

    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.actionbar img {
    height: 100%;
    padding: 5px;
    padding-right: 7px;
    box-sizing: border-box;
    object-fit: contain;
}

.actionbar div {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
}

.tab_container {
    height: 1.5em;
    display: flex;
    flex-direction: row;
    background-color: #f2f1f0;
}

.tab-link {
    color: #787470;
    background: linear-gradient(0deg,rgba(226, 224, 222, 1) 0%, rgba(235, 233, 232, 1) 100%);
    
    display: flex;
    align-items: center;
    justify-content: center;
        
    font-size: 14px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    box-shadow: inset 0 4px 0 0 #f2f1f0,  /* Top */
                inset 2px 0 0 0 #f2f1f0,  /* Left */
                inset -2px 0 0 0 #f2f1f0; /* Right */
}

.tab img, .infobar img, .tab-link img {
    height: 70%;
    width: 24px;
    box-sizing: border-box;
    object-fit: contain;
}

.infobar img {
    height: 100%;
}

.content-container {
    /*height: 100%*/
    flex: 1;
    min-height: 0;
}

.content {
    color: #4c4c4c;
    background-color: #ffffff;
    height: 100%;
    
    box-shadow: inset 0 0 0 2px #f7f6f6;
        
    display: none;
    overflow: hidden;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #f07746 #ffffff;
}

/* webkit shit */
.scrollable-div::-webkit-scrollbar {
  width: 8px;               /* Width of vertical scrollbar */
  height: 8px;              /* Height of horizontal scrollbar */
}

/* The background track */
.scrollable-div::-webkit-scrollbar-track {
  background: #ffffff; 
  border-radius: 4px;
}
 
/* The draggable handle/thumb */
.scrollable-div::-webkit-scrollbar-thumb {
  background: #f07746; 
  border-radius: 4px;
}

/* The handle on hover */
.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #f07746; 
}

.infobar {
    color: #4c4c4c;
    height: 1em; 

    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin: 2px;
    margin-right: 30px;
}

.info_spacer {
    width: 20px;
}

/* tab switcher */

.content:target {
  display: block;
  padding: 3px;
}

.content-container:not(:has(:target)) #home {
  display: block;
}

.tab-link {
    text-decoration: none;
    height: 1.75em;
}

.window:not(:has(:target)) .link-home {
    background: linear-gradient(0deg,rgba(247, 246, 246, 1) 0%, rgba(254, 254, 254, 1) 100%);
    box-shadow: none;
}

.window:has(#home:target) .link-home,
.window:has(#about:target) .link-about {
    background: linear-gradient(0deg,rgba(247, 246, 246, 1) 0%, rgba(254, 254, 254, 1) 100%);
    box-shadow: none;
    position: relative;
    z-index: 2;
}

